<fusion-demo titleText="State">

  <form form class="fusion-components-demo__form fusion-ui-form" *ngIf="stateForm" [formGroup]="stateForm">

    <!-- START: state select -->
    <div class="fusion-ui-form__fieldset fusion-ui-table__filter-input-field-selector">
      <label class="fusion-ui-form__input-label">State</label>
      <div class="fusion-ui-form__input-wrapper fusion-ui-form__select-wrapper">
        <select class="fusion-ui-form__input fusion-ui-form__select" formControlName="state">
          <option [value]="">- NONE -</option>
          <option [value]="FusionUiState.LOADED">{{ FusionUiState.LOADED }}</option>
          <option [value]="FusionUiState.LOADING">{{ FusionUiState.LOADING }}</option>
          <option [value]="FusionUiState.NO_RESULTS">{{ FusionUiState.NO_RESULTS }}</option>
          <option [value]="FusionUiState.ERROR">{{ FusionUiState.ERROR }}</option>
          <option [value]="FusionUiState.NOT_LOADED">{{ FusionUiState.NOT_LOADED }}</option>
        </select>
        <span class="fusion-ui-form__input-wrapper-status-icon"></span>
      </div>
    </div>
    <!-- END: state select -->

    <!-- START: location select -->
    <div class="fusion-ui-form__fieldset fusion-ui-table__filter-input-field-selector">
      <label class="fusion-ui-form__input-label">Location</label>
      <div class="fusion-ui-form__input-wrapper fusion-ui-form__select-wrapper">
        <select class="fusion-ui-form__input fusion-ui-form__select" formControlName="location">
          <option [value]="">- NONE -</option>
          <option [value]="StateLocation.GENERIC">{{ StateLocation.GENERIC }}</option>
          <option [value]="StateLocation.TABLE">{{ StateLocation.TABLE }}</option>
        </select>
        <span class="fusion-ui-form__input-wrapper-status-icon"></span>
      </div>
    </div>
    <!-- END: location select -->

    <!-- START: not loaded headline input -->
    <div class="fusion-ui-form__fieldset">
      <label class="fusion-ui-form__input-label">Not Loaded Headline</label>
      <div class="fusion-ui-form__input-wrapper">
        <input class="fusion-ui-form__input" formControlName="notLoadedHeadline" />
        <span class="fusion-ui-form__input-wrapper-status-icon"></span>
      </div>
    </div>
    <!-- END: not loaded headline input -->

    <!-- START: not loaded message input -->
    <div class="fusion-ui-form__fieldset">
      <label class="fusion-ui-form__input-label">Not Loaded Message</label>
      <div class="fusion-ui-form__input-wrapper">
        <textarea class="fusion-ui-form__input" formControlName="notLoadedMessage"></textarea>
        <span class="fusion-ui-form__input-wrapper-status-icon"></span>
      </div>
    </div>
    <!-- END: not loaded message input -->

     <!-- START: use custom not loaded message checkbox -->
     <div class="fusion-ui-form__fieldset">
      <span class="fusion-ui-form__checkbox">
        <label for="fusion-ui-checkbox-not-loaded-message" class="fusion-ui-form__checkbox-label">
          <input
            class="fusion-ui-form__checkbox-input"
            type="checkbox"
            value="true"
            name="fusion-ui-checkbox-not-loaded-message"
            id="fusion-ui-checkbox-not-loaded-message"
            formControlName="useCustomNotLoadedMessageTemplate">
          <span class="fusion-ui-form__checkbox-button"></span>
          <span class="fusion-ui-form__checkbox-label-text">Use Custom Not Loaded Message Template</span>
        </label>
      </span>
    </div>
    <!-- END: use custom not loaded message checkbox -->

    <!-- START: no results headline input -->
    <div class="fusion-ui-form__fieldset">
      <label class="fusion-ui-form__input-label">Not Results Headline</label>
      <div class="fusion-ui-form__input-wrapper">
        <input class="fusion-ui-form__input" formControlName="noResultsHeadline" />
        <span class="fusion-ui-form__input-wrapper-status-icon"></span>
      </div>
    </div>
    <!-- END: no results headline input -->

    <!-- START: no results message input -->
    <div class="fusion-ui-form__fieldset">
      <label class="fusion-ui-form__input-label">No Results Message</label>
      <div class="fusion-ui-form__input-wrapper">
        <textarea class="fusion-ui-form__input" formControlName="noResultsMessage"></textarea>
        <span class="fusion-ui-form__input-wrapper-status-icon"></span>
      </div>
    </div>
    <!-- END: no results message input -->

     <!-- START: use custom no results message checkbox -->
     <div class="fusion-ui-form__fieldset">
      <span class="fusion-ui-form__checkbox">
        <label for="fusion-ui-checkbox-no-results-message" class="fusion-ui-form__checkbox-label">
          <input
            class="fusion-ui-form__checkbox-input"
            type="checkbox"
            value="true"
            name="fusion-ui-checkbox-no-results-message"
            id="fusion-ui-checkbox-no-results-message"
            formControlName="useCustomNoResultsMessageTemplate">
          <span class="fusion-ui-form__checkbox-button"></span>
          <span class="fusion-ui-form__checkbox-label-text">Use Custom No Results Message Template</span>
        </label>
      </span>
    </div>
    <!-- END: use custom no results message checkbox -->

    <!-- START: error headline input -->
    <div class="fusion-ui-form__fieldset">
      <label class="fusion-ui-form__input-label">Error Headline</label>
      <div class="fusion-ui-form__input-wrapper">
        <input class="fusion-ui-form__input" formControlName="errorHeadline" />
        <span class="fusion-ui-form__input-wrapper-status-icon"></span>
      </div>
    </div>
    <!-- END: error headline input -->

    <!-- START: error message input -->
    <div class="fusion-ui-form__fieldset">
      <label class="fusion-ui-form__input-label">Error Message</label>
      <div class="fusion-ui-form__input-wrapper">
        <textarea class="fusion-ui-form__input" formControlName="errorMessage"></textarea>
        <span class="fusion-ui-form__input-wrapper-status-icon"></span>
      </div>
    </div>
    <!-- END: error message input -->

     <!-- START: use custom error message checkbox -->
     <div class="fusion-ui-form__fieldset">
      <span class="fusion-ui-form__checkbox">
        <label for="fusion-ui-checkbox-error-message" class="fusion-ui-form__checkbox-label">
          <input
            class="fusion-ui-form__checkbox-input"
            type="checkbox"
            value="true"
            name="fusion-ui-checkbox-error-message"
            id="fusion-ui-checkbox-error-message"
            formControlName="useCustomErrorMessageTemplate">
          <span class="fusion-ui-form__checkbox-button"></span>
          <span class="fusion-ui-form__checkbox-label-text">Use Custom Error Message Template</span>
        </label>
      </span>
    </div>
    <!-- END: use custom error message checkbox -->

    <!-- START: use custom error checkbox -->
    <div class="fusion-ui-form__fieldset">
      <span class="fusion-ui-form__checkbox">
        <label for="fusion-ui-checkbox-error" class="fusion-ui-form__checkbox-label">
          <input
            class="fusion-ui-form__checkbox-input"
            type="checkbox"
            value="true"
            name="fusion-ui-checkbox-error"
            id="fusion-ui-checkbox-error"
            formControlName="useCustomError">
          <span class="fusion-ui-form__checkbox-button"></span>
          <span class="fusion-ui-form__checkbox-label-text">Use Custom Error Template</span>
        </label>
      </span>
    </div>
    <!-- END: use custom error checkbox -->

    <!-- START: use custom loading checkbox -->
    <div class="fusion-ui-form__fieldset">
      <span class="fusion-ui-form__checkbox">
        <label for="fusion-ui-checkbox-loading" class="fusion-ui-form__checkbox-label">
          <input
            class="fusion-ui-form__checkbox-input"
            type="checkbox"
            value="true"
            name="fusion-ui-checkbox-loading"
            id="fusion-ui-checkbox-loading"
            formControlName="useCustomLoading">
          <span class="fusion-ui-form__checkbox-button"></span>
          <span class="fusion-ui-form__checkbox-label-text">Use Custom Loading Template</span>
        </label>
      </span>
    </div>
    <!-- END: use custom loading checkbox -->

     <!-- START: use custom empty checkbox -->
     <div class="fusion-ui-form__fieldset">
      <span class="fusion-ui-form__checkbox">
        <label for="fusion-ui-checkbox-empty" class="fusion-ui-form__checkbox-label">
          <input
            class="fusion-ui-form__checkbox-input"
            type="checkbox"
            value="true"
            name="fusion-ui-checkbox-empty"
            id="fusion-ui-checkbox-empty"
            formControlName="useCustomNoResults">
          <span class="fusion-ui-form__checkbox-button"></span>
          <span class="fusion-ui-form__checkbox-label-text">Use Custom No Results Template</span>
        </label>
      </span>
    </div>
    <!-- END: use custom empty checkbox -->

    <!-- START: use custom empty checkbox -->
    <div class="fusion-ui-form__fieldset">
      <span class="fusion-ui-form__checkbox">
        <label for="fusion-ui-checkbox-not-loaded" class="fusion-ui-form__checkbox-label">
          <input
            class="fusion-ui-form__checkbox-input"
            type="checkbox"
            value="true"
            name="fusion-ui-checkbox-not-loaded"
            id="fusion-ui-checkbox-not-loaded"
            formControlName="useCustomNotLoaded">
          <span class="fusion-ui-form__checkbox-button"></span>
          <span class="fusion-ui-form__checkbox-label-text">Use Custom Not Loaded Template</span>
        </label>
      </span>
    </div>
    <!-- END: use custom empty checkbox -->

  </form>

  <ng-container result>
    <div
      *fusionUiState="
        stateForm?.get('state')?.value;
        location: stateForm?.get('location')?.value;
        headlines: headlines,
        messages: messages,
        messageTemplates: messageTemplates,
        error: stateForm?.get('useCustomError')?.value ? customErrorState : null;
        loading: stateForm?.get('useCustomLoading')?.value ? customLoadingState : null;
        noResults: stateForm?.get('useCustomNoResults')?.value ? customNoResultsState : null;
        notLoaded: stateForm?.get('useCustomNotLoaded')?.value ? customNotLoadedState : null"
      class="example-host-class example-host-class-2">
      <span>LOADED STATE</span>
    </div>

    <ng-template #customErrorState>
      <div>CUSTOM ERROR STATE</div>
    </ng-template>

    <ng-template #customLoadingState>
      <div>CUSTOM LOADING STATE</div>
    </ng-template>

    <ng-template #customNoResultsState>
      <div>CUSTOM NO RESULTS STATE</div>
    </ng-template>

    <ng-template #customNotLoadedState>
      <div>CUSTOM NOT LOADED STATE</div>
    </ng-template>

    <ng-template #customErrorMessage>
      <div>CUSTOM ERROR MESSAGE</div>
    </ng-template>

    <ng-template #customNoResultsMessage>
      <div>CUSTOM NO RESULTS MESSAGE</div>
    </ng-template>

    <ng-template #customNotLoadedMessage>
      <div>CUSTOM NOT LOADED MESSAGE</div>
    </ng-template>
  </ng-container>

</fusion-demo>
