<fusion-demo titleText="Forms">

  <ng-container result>
    <f-tabview routingParent="forms">

      <f-tabview-tab route="checkbox">
        <ng-template fusionUiTemplate="tabHeader">
          <h3>Checkbox</h3>
        </ng-template>
        <ng-template fusionUiTemplate="tabContent">
          <fusion-demo-forms-checkbox></fusion-demo-forms-checkbox>
        </ng-template>
      </f-tabview-tab>

      <f-tabview-tab route="radio">
        <ng-template fusionUiTemplate="tabHeader">
          <h3>Radio</h3>
        </ng-template>
        <ng-template fusionUiTemplate="tabContent">
          <fusion-demo-forms-radio></fusion-demo-forms-radio>
        </ng-template>
      </f-tabview-tab>

      <f-tabview-tab route="input">
        <ng-template fusionUiTemplate="tabHeader">
          <h3>Input</h3>
        </ng-template>
        <ng-template fusionUiTemplate="tabContent">
          <fusion-demo-forms-input></fusion-demo-forms-input>
        </ng-template>
      </f-tabview-tab>

      <f-tabview-tab route="textarea">
        <ng-template fusionUiTemplate="tabHeader">
          <h3>Text Area</h3>
        </ng-template>
        <ng-template fusionUiTemplate="tabContent">
          <fusion-demo-forms-textarea></fusion-demo-forms-textarea>
        </ng-template>
      </f-tabview-tab>

      <f-tabview-tab route="select">
        <ng-template fusionUiTemplate="tabHeader">
          <h3>Select</h3>
        </ng-template>
        <ng-template fusionUiTemplate="tabContent">
          <fusion-demo-forms-select></fusion-demo-forms-select>
        </ng-template>
      </f-tabview-tab>

      <f-tabview-tab route="button">
        <ng-template fusionUiTemplate="tabHeader">
          <h3>Button</h3>
        </ng-template>
        <ng-template fusionUiTemplate="tabContent">
          <fusion-demo-forms-button></fusion-demo-forms-button>
        </ng-template>
      </f-tabview-tab>

      <f-tabview-tab route="button-group">
        <ng-template fusionUiTemplate="tabHeader">
          <h3>Button Group</h3>
        </ng-template>
        <ng-template fusionUiTemplate="tabContent">
          <fusion-demo-forms-button-group></fusion-demo-forms-button-group>
        </ng-template>
      </f-tabview-tab>

      <f-tabview-tab route="switch">
        <ng-template fusionUiTemplate="tabHeader">
          <h3>Switch</h3>
        </ng-template>
        <ng-template fusionUiTemplate="tabContent">
          <fusion-demo-forms-switch></fusion-demo-forms-switch>
        </ng-template>
      </f-tabview-tab>

    </f-tabview>
  </ng-container>

</fusion-demo>
