:host {
  display: block;
  height: 100%;
  overflow: hidden;

  .fusion-demo-header {
    margin-bottom: 24px;
  }

  ::ng-deep {
    .f-button:not(.f-button__radio):not(.f-button__checkbox) + .f-button:not(.f-button__radio):not(.f-button__checkbox) {
      margin-left: 12px;
    }
  }
}
