<fusion-demo titleText="Loading Spinner">

  <form form class="fusion-components-demo__form f-form" *ngIf="loadingSpinnerForm" [formGroup]="loadingSpinnerForm">

    <!-- START: size select -->
    <div class="f-form__fieldset f-table__filter-input-field-selector">
      <label class="f-form__input-label">Size</label>
      <div class="f-form__input-wrapper f-form__select-wrapper">
        <select class="f-form__input f-form__select" formControlName="size">
          <option [value]="Size.X_SMALL">X Small</option>
          <option [value]="Size.SMALL">Small</option>
          <option [value]="Size.MEDIUM">Medium</option>
          <option [value]="Size.LARGE">Large</option>
        </select>
        <span class="f-form__input-wrapper-status-icon"></span>
      </div>
    </div>
    <!-- END: size select -->

    <!-- START: opacity input -->
    <div class="f-form__fieldset">
      <label class="f-form__input-label">Opacity</label>
      <div class="f-form__input-wrapper">
        <input class="f-form__input" type="number" formControlName="opacity" min="0" max="1" step="0.1" />
        <span class="f-form__input-wrapper-status-icon"></span>
      </div>
    </div>
    <!-- END: opacity input -->

    <!-- START: minWidth input -->
    <div class="f-form__fieldset">
      <label class="f-form__input-label">Min Width (in px)</label>
      <div class="f-form__input-wrapper">
        <input class="f-form__input" type="number" formControlName="minWidth" />
        <span class="f-form__input-wrapper-status-icon"></span>
      </div>
    </div>
    <!-- END: minWidth input -->

    <!-- START: ariaLabel input -->
    <div class="f-form__fieldset">
      <label class="f-form__input-label">Aria Label</label>
      <div class="f-form__input-wrapper">
        <input class="f-form__input" formControlName="ariaLabel" />
        <span class="f-form__input-wrapper-status-icon"></span>
      </div>
    </div>
    <!-- END: ariaLabel input -->

  </form>

  <ng-container result>
    <f-loading-spinner
      [size]="loadingSpinnerForm?.get('size')?.value"
      [opacity]="loadingSpinnerForm?.get('opacity')?.value"
      [minWidth]="loadingSpinnerForm?.get('minWidth')?.value + 'px'"
      [ariaLabel]="loadingSpinnerForm?.get('ariaLabel')?.value">
    </f-loading-spinner>
  </ng-container>
</fusion-demo>
