/* You can add global styles to this file, and also import other style files */
@use 'projects/fusion-components/src/lib/styles/fusion-ui-styles.scss' as *;
@use './app/shared/styles/demo.scss' as *;
