<fusion-demo titleText="Download">


  @if (downloadForm) {
    <form form class="fusion-components-demo__form f-form" [formGroup]="downloadForm">
      <!-- START: filename input -->
      <div class="f-form__fieldset">
        <label for="messageInput" class="f-form__input-label">File Name</label>
        <div class="f-form__input-wrapper">
          <input id="messageInput" class="f-form__input" formControlName="fileName"/>
          <span class="f-form__input-wrapper-status-icon"></span>
        </div>
      </div>
      <!-- END: filename input -->
    </form>
  }

  <ng-container result>
    <f-button
      fusionUiDownload
      [content]="downloadContent"
      [fileName]="downloadForm.get('fileName')?.value"
      [text]="'Download'">
    </f-button>
  </ng-container>

</fusion-demo>
