<fusion-demo titleText="Download">


  <form form class="fusion-components-demo__form fusion-ui-form" *ngIf="downloadForm" [formGroup]="downloadForm">
    <!-- START: filename input -->
    <div class="fusion-ui-form__fieldset">
      <label for="messageInput" class="fusion-ui-form__input-label">File Name</label>
      <div class="fusion-ui-form__input-wrapper">
        <input id="messageInput" class="fusion-ui-form__input" formControlName="fileName"/>
        <span class="fusion-ui-form__input-wrapper-status-icon"></span>
      </div>
    </div>
    <!-- END: filename input -->
  </form>

  <ng-container result>
    <fusion-ui-button
      fusionUiDownload
      [content]="downloadContent"
      [fileName]="downloadForm?.get('fileName')?.value"
      [text]="'Download'">
    </fusion-ui-button>
  </ng-container>

</fusion-demo>
