:host {
  display: block;
  height: 100%;
  overflow: hidden;

  .fusion-demo {
    height: 100%;

    .pipe-demo-container {
      display: flex;
      flex-direction: row;

      .f-form {
        margin-right: 24px;
        width: 400px;
      }

      .pipe-demo-result {
        flex: 1;
      }
    }
  }
}
