<fusion-demo titleText="Password Visibility Toggle">

  <ng-container result>
    <form class="f-form">
      <div class="f-form__fieldset">
        <label class="f-form__input-label">Example</label>
        <div class="f-form__input-wrapper">
          <input class="f-form__input" type="password" [formControl]="passwordVisibilityToggleFormControl" fusionUiPasswordVisibilityToggle />
          <span class="f-form__input-wrapper-status-icon"></span>
        </div>
      </div>
    </form>
  </ng-container>

</fusion-demo>
