<fusion-demo titleText="Pipes">

  <ng-container result>
    <f-tabview>

      <f-tabview-tab>
        <ng-template fusionUiTemplate="tabHeader">
          <h3>Bytes</h3>
        </ng-template>
        <ng-template fusionUiTemplate="tabContent">

          <div class="pipe-demo-container">

            @if (bytesPipeForm) {
              <form class="f-form" [formGroup]="bytesPipeForm">
                <!-- START: bytes input -->
                <div class="f-form__fieldset">
                  <label class="f-form__input-label">Bytes</label>
                  <div class="f-form__input-wrapper">
                    <input class="f-form__input" type="number" formControlName="bytes" />
                    <span class="f-form__input-wrapper-status-icon"></span>
                  </div>
                </div>
                <!-- END: bytes input -->
                <!-- START: include unit checkbox -->
                <div class="f-form__fieldset">
                  <span class="f-form__checkbox">
                    <label for="f-checkbox-1" class="f-form__checkbox-label">
                      <input
                        class="f-form__checkbox-input"
                        type="checkbox"
                        value="true"
                        name="f-checkbox-1"
                        id="f-checkbox-1"
                        formControlName="includeUnit">
                        <span class="f-form__checkbox-button"></span>
                        <span class="f-form__checkbox-label-text">Include Unit</span>
                      </label>
                    </span>
                  </div>
                  <!-- END: include unit checkbox -->
                  <!-- START: base select -->
                  <div class="f-form__fieldset f-table__filter-input-field-selector">
                    <label class="f-form__input-label">Base</label>
                    <div class="f-form__input-wrapper f-form__select-wrapper">
                      <select class="f-form__input f-form__select" formControlName="base">
                        <option [value]="BytesPipeBase.TEN">Base 10 (1000)</option>
                        <option [value]="BytesPipeBase.TWO">Base 2 (1024)</option>
                      </select>
                      <span class="f-form__input-wrapper-status-icon"></span>
                    </div>
                  </div>
                  <!-- END: base select -->
                  <!-- START: precision input -->
                  <div class="f-form__fieldset">
                    <label class="f-form__input-label">Precision</label>
                    <div class="f-form__input-wrapper">
                      <input class="f-form__input" type="number" formControlName="precision" />
                      <span class="f-form__input-wrapper-status-icon"></span>
                    </div>
                  </div>
                  <!-- END: precision input -->
                </form>
              }

              <div class="pipe-demo-result">
                <h3>Result: </h3>
                {{ bytesPipeResult }}
              </div>

            </div>

          </ng-template>
        </f-tabview-tab>

      </f-tabview>
    </ng-container>

  </fusion-demo>
