<fusion-demo titleText="Tokens">

  <ng-container result>
    <div class="fusion-demo__section">
      <h3 class="f-h3">Colors</h3>
      @for (key of colors | objectKeys; track key) {
        <div class="fusion-demo__section">
          <h4 class="f-h4">{{ key }}</h4>
          <div class="fusion-demo__colors">
            @for (color of colors[key]; track color) {
              <div class="fusion-demo__colors-color" [ngStyle]="{ background: color?.value }">
                <div class="fusion-demo__colors-name fusion-demo__colors-name--{{ color?.textColor }}">{{ color?.name }}</div>
                <pre class="fusion-demo__colors-text">{{ color?.token }}</pre>
                <pre class="fusion-demo__colors-text">{{ color?.value }}</pre>
              </div>
            }
          </div>
        </div>
      }
    </div>

    <div class="fusion-demo__section">
      <h3 class="f-h3">Spacing</h3>
      <div class="fusion-demo__spacing">
        @for (space of spacing; track space) {
          <div class="fusion-demo__spacing-space">
            <pre class="fusion-demo__spacing-text">{{ space?.token }}</pre>
            <pre class="fusion-demo__spacing-text">{{ space?.value }}</pre>
          </div>
        }
      </div>
    </div>
  </ng-container>

</fusion-demo>
