<fusion-demo titleText="Tooltip" [isResultCentered]="true">

  <form form class="fusion-components-demo__form fusion-ui-form" *ngIf="tooltipForm" [formGroup]="tooltipForm">
    <!-- START: position select -->
    <div class="fusion-ui-form__fieldset fusion-ui-table__filter-input-field-selector">
      <label class="fusion-ui-form__input-label">Status</label>
      <div class="fusion-ui-form__input-wrapper fusion-ui-form__select-wrapper">
        <select class="fusion-ui-form__input fusion-ui-form__select" formControlName="position">
          <option value="">- None -</option>
          <option [value]="FusionUiPosition.TOP">{{ FusionUiPosition.TOP }}</option>
          <option [value]="FusionUiPosition.BOTTOM">{{ FusionUiPosition.BOTTOM }}</option>
          <option [value]="FusionUiPosition.LEFT">{{ FusionUiPosition.LEFT }}</option>
          <option [value]="FusionUiPosition.RIGHT">{{ FusionUiPosition.RIGHT }}</option>
          <option [value]="FusionUiPosition.CENTER">{{ FusionUiPosition.CENTER }}</option>
        </select>
        <span class="fusion-ui-form__input-wrapper-status-icon"></span>
      </div>
    </div>
    <!-- END: position select -->

    <!-- START: displayOn select -->
    <div class="fusion-ui-form__fieldset fusion-ui-table__filter-input-field-selector">
      <label class="fusion-ui-form__input-label">Display On Interaction</label>
      <div class="fusion-ui-form__input-wrapper fusion-ui-form__select-wrapper">
        <select class="fusion-ui-form__input fusion-ui-form__select" formControlName="displayOn">
          <option value="">- None -</option>
          <option [value]="MouseInteraction.CLICK">Click</option>
          <option [value]="MouseInteraction.MOUSE_ENTER">Mouse Enter</option>
          <option [value]="MouseInteraction.MOUSE_LEAVE">Mouse Leave</option>
          <option [value]="MouseInteraction.FOCUS">Focus</option>
          <option [value]="MouseInteraction.BLUR">Blur</option>
        </select>
        <span class="fusion-ui-form__input-wrapper-status-icon"></span>
      </div>
    </div>
    <!-- END: dislayOn select -->

    <!-- START: hideOn select -->
    <div class="fusion-ui-form__fieldset fusion-ui-table__filter-input-field-selector">
      <label class="fusion-ui-form__input-label">Hide On Interaction</label>
      <div class="fusion-ui-form__input-wrapper fusion-ui-form__select-wrapper">
        <select class="fusion-ui-form__input fusion-ui-form__select" formControlName="hideOn">
          <option value="">- None -</option>
          <option [value]="MouseInteraction.CLICK">Click</option>
          <option [value]="MouseInteraction.MOUSE_ENTER">Mouse Enter</option>
          <option [value]="MouseInteraction.MOUSE_LEAVE">Mouse Leave</option>
          <option [value]="MouseInteraction.FOCUS">Focus</option>
          <option [value]="MouseInteraction.BLUR">Blur</option>
        </select>
        <span class="fusion-ui-form__input-wrapper-status-icon"></span>
      </div>
    </div>
    <!-- END: hideOn select -->

    <!-- START: text input -->
    <div class="fusion-ui-form__fieldset">
      <label class="fusion-ui-form__input-label">Text</label>
      <div class="fusion-ui-form__input-wrapper">
        <input class="fusion-ui-form__input" formControlName="text" />
        <span class="fusion-ui-form__input-wrapper-status-icon"></span>
      </div>
    </div>
    <!-- END: text input -->

    <!-- START: use custom template checkbox -->
    <div class="fusion-ui-form__fieldset">
      <span class="fusion-ui-form__checkbox">
        <label for="fusion-ui-checkbox-1" class="fusion-ui-form__checkbox-label">
          <input
            class="fusion-ui-form__checkbox-input"
            type="checkbox"
            value="true"
            name="fusion-ui-checkbox-1"
            id="fusion-ui-checkbox-1"
            formControlName="template">
          <span class="fusion-ui-form__checkbox-button"></span>
          <span class="fusion-ui-form__checkbox-label-text">Use Template</span>
        </label>
      </span>
    </div>
    <!-- END: use custom template checkbox -->
  </form>

  <ng-container result>
    <button
      fusionUiTooltip
      [displayOn]="tooltipForm?.get('displayOn')?.value"
      [hideOn]="tooltipForm?.get('hideOn')?.value"
      [template]="tooltipForm?.get('template')?.value ? customTooltipContent : null"
      [text]="tooltipForm?.get('text')?.value"
      [position]="tooltipForm?.get('position')?.value">
      ToolTip Button
    </button>

    <ng-template #customTooltipContent>
      <p>Custom Tooltip Content</p>
      <button>With interactable elements</button>
    </ng-template>
  </ng-container>
</fusion-demo>
