@import 'projects/fusion-components/src/lib/styles/tokens/tokens.scss';

:host {
  display: block;
  height: 100%;
  overflow: hidden;

  .f-components-demo__result--f-widget {
    background-color: $f-color-background-light;
    height: 100%;
    padding: $f-spacing-xl;
  }
}
