@import 'projects/fusion-components/src/lib/styles/tokens/tokens.scss';

:host {
  display: block;
  height: 100%;
  overflow: hidden;

  .fusion-demo {
    height: 100%;
    overflow: auto;

    &__section {
      max-width: 800px;

      & + .fusion-demo__section {
        margin-top: $f-spacing-lg;
      }
    }
  }

  ::ng-deep f-table p {
    margin: 0;
    padding: 0;
  }
}

.pattern-code {
  font-family: monospace;
  border: $f-border-light;
  background-color: $f-color-background-light;
  padding: $f-spacing-xxs;
  border-radius: $f-border-radius-sm;
}
