<fusion-demo titleText="Accordion">

  <form form class="fusion-components-demo__form fusion-ui-form" *ngIf="accordionForm" [formGroup]="accordionForm">

    <button class="fusion-ui-button fusion-ui-button--primary fusion-ui-button--small toggle-all-button" (click)="toggleAll()">
      {{ isAllExpanded ? 'Collapse All' : 'Expand All' }}
    </button>

    <!-- START: max content height input -->
    <div class="fusion-ui-form__fieldset">
      <label class="fusion-ui-form__input-label">Max Content Height</label>
      <div class="fusion-ui-form__input-wrapper">
        <input class="fusion-ui-form__input" type="number" min="0" formControlName="maxContentHeight" />
        <span class="fusion-ui-form__input-wrapper-status-icon"></span>
      </div>
    </div>
    <!-- END: max content height input -->

    <!-- START: one panel limit checkbox -->
    <div class="fusion-ui-form__fieldset">
      <span class="fusion-ui-form__checkbox">
        <label for="table-demo-one-panel-limit" class="fusion-ui-form__checkbox-label">
          <input
            class="fusion-ui-form__checkbox-input"
            type="checkbox"
            value="true"
            name="table-demo-one-panel-limit"
            id="table-demo-one-panel-limit"
            formControlName="onePanelLimit">
          <span class="fusion-ui-form__checkbox-button"></span>
          <span class="fusion-ui-form__checkbox-label-text">One Panel Limit</span>
        </label>
      </span>
    </div>
    <!-- END: one panel limit checkbox -->

    <!-- START: expand icon select -->
    <div class="fusion-ui-form__fieldset fusion-ui-table__filter-input-field-selector">
      <label class="fusion-ui-form__input-label">Expand Icon</label>
      <div class="fusion-ui-form__input-wrapper fusion-ui-form__select-wrapper">
        <select class="fusion-ui-form__input fusion-ui-form__select" formControlName="expandIconClasses">
          <option value="">- None -</option>
          <option [value]="'mdi mdi-plus'">mdi mdi-plus</option>
          <option [value]="'mdi mdi-chevron-down'">mdi mdi-chevron-down</option>
        </select>
        <span class="fusion-ui-form__input-wrapper-status-icon"></span>
      </div>
    </div>
    <!-- END: expand icon select -->

    <!-- START: expand icon select -->
    <div class="fusion-ui-form__fieldset fusion-ui-table__filter-input-field-selector">
      <label class="fusion-ui-form__input-label">Collapse Icon</label>
      <div class="fusion-ui-form__input-wrapper fusion-ui-form__select-wrapper">
        <select class="fusion-ui-form__input fusion-ui-form__select" formControlName="collapseIconClasses">
          <option value="">- None -</option>
          <option [value]="'mdi mdi-minus'">mdi mdi-minus</option>
          <option [value]="'mdi mdi-chevron-up'">mdi mdi-chevron-up</option>
        </select>
        <span class="fusion-ui-form__input-wrapper-status-icon"></span>
      </div>
    </div>
    <!-- END: expand icon select -->

    <h3 class="fusion-components-demo__form-array-header fusion-ui-h3">Panels</h3>
    <div class="fusion-components-demo__form-array">
      <ng-container formArrayName="panels" *ngFor="let panel of accordionForm?.get('panels')?.controls; let i = index;">
        <div class="fusion-components-demo__form-array-item" [formGroupName]="i">

          <h3 class="fusion-components-demo__form-array-item-header fusion-ui-h3">
            Panel {{ i }}
            <button class="fusion-components-demo__form-array-remove-button fusion-ui-button fusion-ui-button--secondary fusion-ui-button--xSmall" (click)="removePanel(i)">
              Remove Panel
            </button>
          </h3>

          <!-- START: id input -->
          <div class="fusion-ui-form__fieldset">
            <label class="fusion-ui-form__input-label">ID</label>
            <div class="fusion-ui-form__input-wrapper">
              <input class="fusion-ui-form__input" formControlName="id" />
              <span class="fusion-ui-form__input-wrapper-status-icon"></span>
            </div>
          </div>
          <!-- END: id input -->     
          
          <!-- START: id input -->
          <div class="fusion-ui-form__fieldset">
            <label class="fusion-ui-form__input-label">Title</label>
            <div class="fusion-ui-form__input-wrapper">
              <input class="fusion-ui-form__input" formControlName="title" />
              <span class="fusion-ui-form__input-wrapper-status-icon"></span>
            </div>
          </div>
          <!-- END: id input -->       

          <!-- START: content input -->
          <div class="fusion-ui-form__fieldset">
            <label class="fusion-ui-form__input-label">Content</label>
            <div class="fusion-ui-form__input-wrapper">
              <textarea class="fusion-ui-form__input" formControlName="content"></textarea>
              <span class="fusion-ui-form__input-wrapper-status-icon"></span>
            </div>
          </div>
          <!-- END: content input -->

          <!-- START: is disabled checkbox -->
          <div class="fusion-ui-form__fieldset">
            <span class="fusion-ui-form__checkbox">
              <label for="table-demo-disabled-{{ i }}" class="fusion-ui-form__checkbox-label">
                <input
                  class="fusion-ui-form__checkbox-input"
                  type="checkbox"
                  value="true"
                  name="table-demo-disabled-{{ i }}"
                  id="table-demo-disabled-{{ i }}"
                  formControlName="isDisabled">
                <span class="fusion-ui-form__checkbox-button"></span>
                <span class="fusion-ui-form__checkbox-label-text">Is Disabled</span>
              </label>
            </span>
          </div>
          <!-- END: is disabled checkbox -->

          <!-- START: is disabled checkbox -->
          <div class="fusion-ui-form__fieldset">
            <span class="fusion-ui-form__checkbox">
              <label for="table-demo-expanded-{{ i }}" class="fusion-ui-form__checkbox-label">
                <input
                  class="fusion-ui-form__checkbox-input"
                  type="checkbox"
                  value="true"
                  name="table-demo-expanded-{{ i }}"
                  id="table-demo-expanded-{{ i }}"
                  formControlName="isExpanded">
                <span class="fusion-ui-form__checkbox-button"></span>
                <span class="fusion-ui-form__checkbox-label-text">Is Expanded</span>
              </label>
            </span>
          </div>
          <!-- END: is disabled checkbox -->

        </div>
      </ng-container>
    </div>

    <button class="fusion-ui-button fusion-ui-button--primary fusion-ui-button--small add-panel-button" (click)="addNewPanel()">
      Add New Panel
    </button>

  </form>

  <ng-container result>
    <fusion-ui-accordion
      [onePanelLimit]="accordionForm?.get('onePanelLimit')?.value"
      [maxContentHeight]="accordionForm?.get('maxContentHeight')?.value ? accordionForm?.get('maxContentHeight')?.value + 'px' : null"
      [expandIconClasses]="accordionForm?.get('expandIconClasses')?.value"
      [collapseIconClasses]="accordionForm?.get('collapseIconClasses')?.value"
      [toggleAllPanels]="triggerExpandAll"
      (panelContentVisibilityChanged)="updateAccordionForm($event)">

      <fusion-ui-accordion-panel
        *ngFor="let panel of accordionForm?.get('panels')?.controls; let i = index;"
        [isDisabled]="panel?.get('isDisabled')?.value"
        [isExpanded]="panel?.get('isExpanded')?.value">
        <ng-template fusionUiTemplate="panelTitle">{{ panel?.get('title')?.value }}</ng-template>
        <ng-template fusionUiTemplate="panelContent">{{ panel?.get('content')?.value }}</ng-template>
      </fusion-ui-accordion-panel>

    </fusion-ui-accordion>
  </ng-container>
</fusion-demo>
