<fusion-demo titleText="Modal2">

  <form form class="fusion-components-demo__form f-form" *ngIf="modalForm" [formGroup]="modalForm">

    <!-- START: type select -->
    <div class="f-form__fieldset f-table__filter-input-field-selector">
      <label for="typeSelect" class="f-form__input-label">Type</label>
      <div class="f-form__input-wrapper f-form__select-wrapper">
        <select id="typeSelect" class="f-form__input f-form__select" formControlName="type">
          <option [value]="ModalType.ALERT">Alert</option>
          <option [value]="ModalType.SIDE">Side</option>
          <option [value]="ModalType.FULL">Full</option>
        </select>
        <span class="f-form__input-wrapper-status-icon"></span>
      </div>
    </div>
    <!-- END: type select -->

    <!-- START: size select -->
    <div class="f-form__fieldset f-table__filter-input-field-selector">
      <label for="containerSelect" class="f-form__input-label">Container</label>
      <div class="f-form__input-wrapper f-form__select-wrapper">
        <select id="containerSelect" class="f-form__input f-form__select" formControlName="container">
          <option [value]="'body'">body</option>
          <option [value]="'.fusion-components-demo'">.fusion-components-demo</option>
          <option [value]="'.fusion-components-demo__result'">.fusion-components-demo__result</option>
        </select>
        <span class="f-form__input-wrapper-status-icon"></span>
      </div>
    </div>
    <!-- END: size select -->

    <!-- START: size select -->
    <div class="f-form__fieldset f-table__filter-input-field-selector">
      <label for="sizeSelect" class="f-form__input-label">Size (N/A for full modals)</label>
      <div class="f-form__input-wrapper f-form__select-wrapper">
        <select id="sizeSelect" class="f-form__input f-form__select" formControlName="size">
          <option [value]="Size.SMALL">Small</option>
          <option [value]="Size.MEDIUM">Medium</option>
          <option [value]="Size.LARGE">Large</option>
        </select>
        <span class="f-form__input-wrapper-status-icon"></span>
      </div>
    </div>
    <!-- END: size select -->

    <f-button
      (buttonClick)="openModal()"
      [text]="'Open Modal'">

    </f-button>
  </form>

  <ng-container result></ng-container>

</fusion-demo>
