@import 'tokens/tokens.scss';

:host {
  display: block;
  height: 100%;
  overflow: hidden;

  .fusion-ui-components-demo__result--fusion-ui-widget {
    background-color: $fusion-ui-color-background-light;
    height: 100%;
    padding: $fusion-ui-spacing-xl;
  }
}
