<fusion-demo titleText="Key Value Table">
  <ng-container result>
    <div style="max-width: 400px">
      <f-key-value-table [data]="generatedData">
        <ng-template fusionUiTemplate="hostname" type="key" let-data>
          <i class="mdi mdi-home"></i>{{ data?.key }}
        </ng-template>

        <ng-template fusionUiTemplate="numOfDrives" type="value" let-data>
          <i class="mdi mdi-database"></i>{{ data?.value }}
        </ng-template>
      </f-key-value-table>
    </div>
  </ng-container>
</fusion-demo>
